<nav class="sidebar-container">
  <div class="sidebar-panel">
    <ul class="sidebar-nav">
      <li class="sidebar-item" [class.open]="isNBAOpen">
        <div class="sidebar-toggle" (click)="toggleNBA()">
          <img src="assets/svg/nba-logo.svg" alt="NBA" class="icon" />
          <span>NBA</span>
          <i class="chevron"></i>
        </div>
        <ul [hidden]="!isNBAOpen" class="sidebar-subnav">
          <li class="sidebar-subitem">
            <a routerLink="/players" routerLinkActive="active">Players</a>
          </li>
          <li class="sidebar-subitem">
            <a routerLink="/teams"   routerLinkActive="active">Teams</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="sidebar-panel">
    <ul class="sidebar-nav">
      <li class="sidebar-item">
        <a routerLink="/data" class="sidebar-toggle">
          <img src="assets/svg/briefcase-alt-2-svgrepo-com.svg" class="icon" alt="" />
          <span>Data &amp; Glossary</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="sidebar-panel">
    <ul class="sidebar-nav">
      <li class="sidebar-item">
        <a routerLink="/about" class="sidebar-toggle">
          <img src="assets/svg/about-svgrepo-com.svg" class="icon" alt="" />
          <span>About</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
